.asside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include under-small {
        flex-direction: row;
        margin-top: 5%;
    }
}
.keyCard{
    display: flex;
    margin-left: 10%;
    align-items: center;
    background-color: $grey-light;
    width: 258px;
    height: 124px;
    padding: 2%;
    @include under-small{
        margin-left: 0;
        margin-right: 10%;
    }
}

.card__infos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    & h5{
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: $bold;
    }
    & p {
        font-weight: $medium;
        font-size: 14px;
        color: $grey;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 6px;
    margin-right: 10%;
    margin-left: 10%;
    & img{
        height: 20px;
    }
    &--calories{
        background-color: hsl(0, 100%, 50%, 10%);
    }
    &--proteins{
        background-color: hsl(204, 100%, 65%, 10%);  
    }
    &--carbs{
        background-color: hsl(48, 98%, 52%, 10%);
    }
    &--lipids{
        background-color: hsl(343, 98%, 65%, 10%);
    }
}

