///colors
$color-primary : #FF0101;
$color-primary--light: #FF0000;
$color-primary--dark: #E60000;
$grey: #74798C;
$grey-dark: #282D30;
$grey-light: #FBFBFB;
$black: #020203;
$white: #FFFFFF;

///fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
$font: 'Roboto', sans-serif;
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$bold-extra: 900;