.error{
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & h1{
        font-size: 250px;
        margin-top: 8%;
        margin-bottom: 0;
    }
    & h4{
        font-size: 36px;
        color: $color-primary;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    & a{
        color: $grey-dark;
        font-size: 18px;
        margin-bottom: 7%;
    }
}