.error{
    height: 100vh;
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & img{
        height: 450px;
        margin-top: 0;
        margin-bottom: 0;
    }
    & h4{
        font-size: 26px;
        color: $grey-dark;
        margin-top: 0;
        margin-bottom: 2%;
    }
    & a{
        color: $color-primary;
        font-size: 18px;
        margin-bottom: 7%;
    }
}