.weight-chart{
    background-color: $grey-light;
}
.weigth-tooltip{
    background-color: $color-primary--dark;
    color: $white;
    width: 39px;
    height: 63px;
    font-size: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.recharts-default-legend{
    padding-bottom: 2%;
    height: 24px;
}

.recharts-legend-item-text{
    color: $grey-dark;
    font-size: 14px;
}